<a href="https://colab.research.google.com/github/Miftahul93/Machine-Learning-pemula-Dicoding/blob/main/Lat_ML_pemula_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Memasang drive ke notebook google colab
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Melihat daftar dataset di folder dataset ML-Dikoding
!ls "gdrive/MyDrive/Data Set ML-Dikoding"

 ML-iris.zip
'ML-Mall Customer Segmentation Data.zip'
 ML-messy-vs-clean-room.zip
'ML-Pima Indians Diabetes Database.zip'
'ML-Salary data - Simple linear regression.zip'
 ML-Social_Network_Ads.zip
 ML-Submission-rockpaperscissors.zip
'Submission_ML_Dicoding_Miftahul Ulum.zip'

In [ ]:
# Unzip
import os
import zipfile

local_zip = 'gdrive/MyDrive/Data Set ML-Dikoding/ML-iris.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('/content/')
zip_ref.close()

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

In [ ]:
df = pd.read_csv('Iris.csv') # Membaka file iris
df.head() # Melihat isi dataset 5 baris pertama

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Menghilangkan kolom yang tidak dipakai
df.drop('Id', axis=1, inplace=True)
df.head() # Melihat perubahan dataset

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Memisahkan atribut dan label
X = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = df['Species']

In [ ]:
# Membuat model Decision tree
from sklearn.tree import DecisionTreeClassifier

tree_model = DecisionTreeClassifier()

#Membuat pelatihan model terhadap data
tree_model.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
# prediksi model dengan tree_model.predict([[SepalLength, SepalWidth, PetalLength, PetalWidth]])
tree_model.predict([[6.2, 3.4, 5.4, 2.3]])

array(['Iris-virginica'], dtype=object)

In [ ]:
# Melihat visualisasi decision tree
from sklearn.tree import export_graphviz

export_graphviz(
    tree_model,
    out_file = "iris_tree.dot",
    feature_names = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
    class_names =['Iris-sentosa', 'Iris-versicolor', 'Iris-virginica'], 
    rounded = True,
    filled = True
)